@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Average Sans', sans-serif;
  font-family: 'Concert One', cursive;
  font-family: 'Heebo', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Poppins', sans-serif;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}